.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;
    
}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

.headerRight input{
    height: 13px;
    width: 300px;
    padding: 10px;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: rgb(61, 60, 60);
}
.headerRight button{
    height: 33px;
    padding: 5px 20px;
    max-height: 33px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background-color: rgb(255, 234, 0);
    cursor: pointer;
}

.headerRight button:hover{
    background-color: rgb(255, 191, 0);
}


.headerRight button:active{
    background-color: rgb(139, 139, 138);
}

.SearchDash{
    height: 400px;
    width: 600px;
    position: absolute;
    right: 40px;
    top: 50px;
    z-index: 2;
    border-radius: 5px;
    background-color: rgb(28, 28, 28);
    
   
}